<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leisurekr.leisuresportskorea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".LKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ico_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <!--
            <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->
        <meta-data android:name="com.leisurekr.leisuresportskorea.LKGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginMemberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MemberRegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shop.MapActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shop.FilterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".profile.ProfileEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".profile.ProfileCartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".shop_detail.ShopDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".shop_detail.ReviewActivity"
            android:theme="@style/ReviewListTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shop_detail.WriteReviewActivity"
            android:theme="@style/ReviewListTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".profile.ProfileReservationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".profile.ReservationDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ticket.TicketActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BookInformationActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".profile.ProfileFavoritesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchResultActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>